html {
  font-family: helvetica;
  text-align: center;
}
#h1 {
  font-size: 70px;
  font-weight: bold;
}
.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}
.tabs {
  color: white;
}
#process{
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
#newyork {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
#f1, #f2,#f3, #f4, #f5 {
  font-size: 14px;
  color: white;
}
p {
  font-size: 14px;
}
